.banner_section {
    min-height: 100vh;
    
}

img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.overlay_section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom:6rem;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    
}

.banner_content_section h6 {
    font-family: "Euphoria Script", cursive;
    font-weight: 400;
    font-size: 2.5em;
    text-transform: capitalize;
}

.banner_content_section h2 {
    font-weight: 600;
    font-size: 6em;
    font-family: "Instrument Sans", sans-serif;
    text-transform: uppercase;
}


.Pagintaion_banner{
    position: absolute;
    bottom: 4rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #fff;
    font-size: 1em;
}
